@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';


$nb-themes: nb-register-theme((

  color-primary-100: #D6F6FD,
  color-primary-200: #ADEAFB,
  color-primary-300: #83D4F4,
  color-primary-400: #62BBEA,
  color-primary-500: #3298DC,
  color-primary-600: #2477BD,
  color-primary-700: #19599E,
  color-primary-800: #0F3F7F,
  color-primary-900: #092C69,
  color-primary-transparent-100: rgba(50, 152, 220, 0.08),
  color-primary-transparent-200: rgba(50, 152, 220, 0.16),
  color-primary-transparent-300: rgba(50, 152, 220, 0.24),
  color-primary-transparent-400: rgba(50, 152, 220, 0.32),
  color-primary-transparent-500: rgba(50, 152, 220, 0.4),
  color-primary-transparent-600: rgba(50, 152, 220, 0.48),
  color-success-100: #F2FBCF,
  color-success-200: #E3F8A1,
  color-success-300: #C9EC6F,
  color-success-400: #ACD949,
  color-success-500: #86C117,
  color-success-600: #6CA510,
  color-success-700: #558A0B,
  color-success-800: #406F07,
  color-success-900: #315C04,
  color-success-transparent-100: rgba(134, 193, 23, 0.08),
  color-success-transparent-200: rgba(134, 193, 23, 0.16),
  color-success-transparent-300: rgba(134, 193, 23, 0.24),
  color-success-transparent-400: rgba(134, 193, 23, 0.32),
  color-success-transparent-500: rgba(134, 193, 23, 0.4),
  color-success-transparent-600: rgba(134, 193, 23, 0.48),
  color-info-100: #D0F0FF,
  color-info-200: #A1DCFF,
  color-info-300: #73C4FF,
  color-info-400: #50ADFF,
  color-info-500: #1687FF,
  color-info-600: #1068DB,
  color-info-700: #0B4DB7,
  color-info-800: #073693,
  color-info-900: #04267A,
  color-info-transparent-100: rgba(22, 135, 255, 0.08),
  color-info-transparent-200: rgba(22, 135, 255, 0.16),
  color-info-transparent-300: rgba(22, 135, 255, 0.24),
  color-info-transparent-400: rgba(22, 135, 255, 0.32),
  color-info-transparent-500: rgba(22, 135, 255, 0.4),
  color-info-transparent-600: rgba(22, 135, 255, 0.48),
  color-warning-100: #FFF8CC,
  color-warning-200: #FFEE99,
  color-warning-300: #FFE267,
  color-warning-400: #FFD741,
  color-warning-500: #FFC402,
  color-warning-600: #DBA301,
  color-warning-700: #B78401,
  color-warning-800: #936600,
  color-warning-900: #7A5200,
  color-warning-transparent-100: rgba(255, 196, 2, 0.08),
  color-warning-transparent-200: rgba(255, 196, 2, 0.16),
  color-warning-transparent-300: rgba(255, 196, 2, 0.24),
  color-warning-transparent-400: rgba(255, 196, 2, 0.32),
  color-warning-transparent-500: rgba(255, 196, 2, 0.4),
  color-warning-transparent-600: rgba(255, 196, 2, 0.48),
  color-danger-100: #FFEAD8,
  color-danger-200: #FFCFB1,
  color-danger-300: #FFAE8A,
  color-danger-400: #FF8E6D,
  color-danger-500: #FF5A3D,
  color-danger-600: #DB392C,
  color-danger-700: #B71E1F,
  color-danger-800: #93131E,
  color-danger-900: #7A0B1D,
  color-danger-transparent-100: rgba(255, 90, 61, 0.08),
  color-danger-transparent-200: rgba(255, 90, 61, 0.16),
  color-danger-transparent-300: rgba(255, 90, 61, 0.24),
  color-danger-transparent-400: rgba(255, 90, 61, 0.32),
  color-danger-transparent-500: rgba(255, 90, 61, 0.4),
  color-danger-transparent-600: rgba(255, 90, 61, 0.48)

), custom-theme, default);